{% extends 'base.html.twig' %}


{% block title %}Ville index{% endblock %}

	{%block body %}

		<h1> Liste des Villes</h1>
			<table>
				<thead>
					<tr>
				<!-- On appelle les paramètres de l'entité ville -->
					<th>Id</th>
					<th>nom</th>
				</tr>
				</thead>
				<tbody>
				{% for ville in villes %}
			 		<tr>
			 		<th> {{ville.id}}</th>
			 		<th> {{ville.nom}}</th>
			 	</tr>
			 	{% else %}
			  		<tr>
			  			<td> aucune villes n'as étés trouvées</td>
			  	</tr>
			  {% endfor %}
			</tbody>
		</table>
